* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fa;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes up the full height of the viewport */
}

header {
    background-color: #2d3e50;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header .logo h1 {
    margin: 0;
    font-size: 2em;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff6f61;
}

main {
    padding: 30px;
    flex-grow: 1; /* This makes sure the main content area expands to fill available space */
}

.content {
    max-width: 900px;
    margin: auto;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.post-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 20px);
    box-sizing: border-box;
    transition: transform 0.3s;
}

.post-card:hover {
    transform: translateY(-5px);
}

.post-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #2d3e50;
    color: #fff;
    margin-top: 40px;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: auto;
}

form .form-group {
    margin-bottom: 20px;
}

form input, form textarea {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1em;
}

form button {
    background-color: #ff6f61;
    color: #fff;
    border: none;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #e55f4f;
}

.header-img {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 12px;
}

.body-img {
  max-width: 90%;
  margin: 10px 0;
  border: 1px solid #ccc;
}

.stats-summary p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.stats-section {
    margin-top: 30px;
}

.stats-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.stats-table th, .stats-table td {
    padding: 12px 15px;
    border: 1px solid #ccc;
    text-align: left;
}

.stats-table th {
    background-color: #2d3e50;
    color: white;
}

.stats-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.charts {
    margin-top: 40px;
}
